.row
  %section.micopost_form
    = form_with(model: [:user,@micropost]) do |f|
      = f.text_area :content
      = f.submit "update", class: "btn btn-primary"

  = link_to '戻る', user_micropost_path
