- if current_user.like?
  = button_to user_micropost_like_path(micropost, like), method: :delete , "data-testid": "likes_btn" do
    %span.glyphicon.glyphicon-heart
    = micropost.likes.count
- else
  = button_to user_micropost_likes_path(micropost) , "data-testid": "likes_btn" do
    %span.glyphicon.glyphicon-heart-empty
    = micropost.likes.count
