%h4 いいねした投稿
- likes.each do |like|
  %ol.micropost-list
    %span.user
    = link_to like.micropost.user.name, user_path(like.micropost.user)
    %span.content
    = like.micropost.content
    %span.timestamp
      = time_ago_in_words(like.micropost.created_at) + '前'
    %span.detail
      = link_to '詳細', micropost_path(like.micropost)
